{%extends "base.html" %}
{% load edit_object %}

{% block content %}

    <div class="row" id="contacts-content">

            <div class="col-xs-4">
                <p><span>Name</span> {{info.name}}</p>
                <p><span>Last name</span> {{info.last_name}}</p>
                <p><span>Date of birth</span> {{info.date_of_birth}}</p>
                {% if info.image %}
                    <p><span>Photo: <br/></span><img src="{{ info.image.url }}" alt="Photo of {{ info.name }} {{ info.last_name}}" width="200px" /></p>
                {% else %}
                    <p><span>Photo: </span></p>
                {% endif %}

            </div>
            <div class="col-xs-4">
                <p><span>Contacts</span> </p>
                <p><span>Email:</span> {{info.email}}</p>
                <p><span>Jabber:</span> {{info.jabber}}</p>
                <p><span>Skype:</span> {{info.skype}}</p>
                <p><span>Other contacts:</span> {{info.other_contacts|linebreaks}}</p>
                <p><span>Bio:</span> {{info.bio|linebreaks}}</p>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-4" id="inline">
                    {% if user.is_authenticated %}
                      <a href="{% url 'user_detail' %}">Edit</a>
                      {% if info %}
                      <a href="{% edit_link info %}">(admin)</a>
                      {% endif %}
                      <div>
                      <a href="{% url 'logout' %}">Logout</a>
                      </div>
                    {% else %}
                      <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
                    {% endif %}
                    </div>
                   </div>
            </div>
    </div>


    <div class="row" id="requests">
        <a href="{% url 'requests' %}">requests</a>
    </div>
{% endblock %}
